body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 30px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/***************************************/
.buton-stare {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 30px;
    display: inline-block;
}

.siloz {
    border: 1px solid black;
    width: 200px;
    height: 400px;
    display: inline-block;
    margin-left: 80px;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #ff7070 50%, transparent 50%);
    -webkit-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    -moz-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    -ms-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    -o-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
}

.umplere {
    background-image: linear-gradient(to top, #ff7070 51%, transparent 50%);
    background-position: 0 100%;
    -webkit-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    -moz-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    -ms-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    -o-transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
    transition: background-position 2000ms, color 2000ms ease, border-color 2000ms ease;
}

.container-stanga {
    float: left;
}

.container-dreapta {
    float: left;
    padding-left: 60px;
}

#buton-golire {
    margin-top: 20px;
}

.pornire {
    background-color: lightgreen;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 33px;
}

 .switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;

}



.valva {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 315px;
    font-size: 16px;
    margin-left: -20px;
}

.deschidere {
    background-color: lightgreen;
}

.linie1 {
    background-color: black;
    height: 1px;
    width: 60px;
    position: absolute;
    top: 374px;
    left: 75px;
}

.linie2 {
    background-color: black;
    height: 342px;
    width: 1px;
    position: absolute;
    top: 32px;
    left: 134px;
}

.linie3 {
    background-color: black;
    height: 1px;
    width: 26px;
    position: absolute;
    top: 32px;
    left: 134px;
}

.linie4 {
    background-color: black;
    height: 41px;
    width: 1px;
    position: absolute;
    top: 400px;
    left: 332px;
}

.linie5 {
    background-color: black;
    height: 1px;
    width: 68px;
    position: absolute;
    top: 440px;
    left: 332px;
}

.linie6 {
    background-color: black;
    height: 1px;
    width: 66px;
    position: absolute;
    top: 442px;
    left: 478px;
}

.linie7 {
    background-color: black;
    height: 37px;
    width: 1px;
    position: absolute;
    top: 443px;
    left: 542px;
}

.text {
    position: absolute;
    top: 7px;
    left: 488px;
}