@{
    ViewData["Title"] = "Home Page";
}

<div class="container-stanga">
    <div class="buton-stare">
    </div>

    <div class="siloz">
    </div>
</div>

<div class="container-dreapta">
    <div>
        <button>Umplere</button>
    </div>
   <div id="buton-golire">
       <button>Golire</button>
   </div>
    
</div>

<div class="clearfix">

</div>